.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/
master/Unit1-Cpp-Review/.ipynb_checkpoints/
master/Unit1-Cpp-Review/.ipynb_checkpoints/
master/Unit0-Intro/.ipynb_checkpoints/
cmake-build-debug/
.idea/
